body {
    background-color: #d3e9ff;
}

.title {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;

}
.quote-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: space-between;
}

::placeholder {
    text-align: center; 
 }
 
#input-name {
    height: 30px;
    width: 300px;
    margin-right: 10px;

    border: solid;
    border-width: 1px;
    border-color: #232425;
    border-radius: 10px;
}

#input-message {
    height: 30px;
    width: 500px;
    margin-right: 10px;

    border: solid;
    border-width: 1px;
    border-color: #232425;
    border-radius: 10px;
}

#submit-button {
    height: 30px;
    width: 100px;
    margin-right: 10px;

    border: solid;
    border-width: 0.3px;
    border-radius: 15px;

    background-color: #59b6eb83;

    cursor: pointer;
}

.divider {
    margin-top: 30px;
    border: solid 1px #a4a5a7;
}

